/* header css start  */
.header-section .left-text .topbarText{
    padding: 15px 0;
    color: #ffff;
    font-size: 14px;
    font-weight: 400;
}

.header-section{
    background: #1D2224;
}
.header-section .left-text{
    display: flex;
}
.header-section .left-text span{
    margin-left: 12px;
}
.header-section .left-text .BrandIcon .android-icon,
.header-section .left-text .BrandIcon .windows-icon,
.header-section .left-text .BrandIcon .apple-icon
{
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
}
.header-section .left-text .BrandIcon{
    margin: auto 0;
}
.header-section .header-col{
    display: flex;
    justify-content: center;
}



@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){ 
}
@media(min-width:992px) and (max-width:1199.98px){
}
@media(min-width:768px) and (max-width:991.98px){
}
@media (min-width: 576px) and (max-width: 767px) {
}
@media (max-width: 575px){
    .header-section{
        display: none;
    }
}
/* header css end  */

/* navigation css start */
.navigation{
    padding: 10px 0;
}
.navigation .logoSite{
    padding: 10px 0;
}

.navigation .inputArea input{
    height: 50px;
    width: 70%;
    padding: 0 15px;
    border-radius: 4px 0 0 4px;
    border: 0.4px solid #666;
    opacity: 0.5;
}
.navigation .inputArea button{
    background: #FF324D;
    padding: 17.5px 30px;
    color: #fff;
    transition: all linear .3s;
    border-radius: 0 4px 4px 0;
}
.navigation .inputArea button:hover{
    background: #000;
    color: #fff;
}

.navigation .icon-right a{
   font-size: 20px;
   color: #292b2c;
   transition: all linear .3s;
   margin-right: 20px;
}
.navigation .icon-right{
    text-align: end;
}
.navigation .icon-right a:hover{
    color: #FF324D;
}
.navigation .container .row{
    align-items: center;
}
/* navigation css end */