/* header css start */

.header-section {
  background: #38cb89;
}

.header-section .top-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 9px;
}

.header-section .top-head a .btn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-section .top-head .top-bar {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  /* 157.143% */
}

.header-section .btn .pf-btn-text {
  color: #000;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.header-section .btn {
  border-bottom: 1px solid #000000;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header-section .top-head a .btn {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header-section .top-head a .btn {
    display: none;
  }
}

@media (max-width: 575px) {
  .header-section .top-head a .btn {
    display: none;
  }
}

/* header css end  */

/* navigation css start */

.navigation-section {
  position: static;
  top: -100%;
  width: 100%;
  background: #fff;
}

.navigation-section.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all ease-out 0.5s;
}

.navigation-section {
  padding: 18px 0;
}

.navigation-section .navigation-warapper .main-nav ul li a {
  color: #141718;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation-section .navigation-warapper .main-nav ul {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.navigation-section .navigation-warapper .navigation-right-icon {
  text-align: right;
}

.navigation-section .navigation-warapper .navigation-right-icon svg {
  cursor: pointer;
}

.navigation-section .navigation-warapper .logo svg {
  display: none;
  cursor: pointer;
}

.navigation-section .navigation-warapper a img {
  display: flex;
}

.navigation-section .navigation-warapper .logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.navigation-section .navigation-warapper .navigation-right-icon h5 {
  color: #fff;
  font-family: "Inter", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  /* 83.333% */
  background: #000;
  padding: 5px 6px;
  border-radius: 50%;
}

.navigation-section .navigation-warapper .navigation-right-icon {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navigation-section .navigation-warapper .navigation-right-icon .search-svg,
.navigation-section .navigation-warapper .navigation-right-icon .user-svg {
  margin-right: 16px;
}

.navigation-section .navigation-warapper .navigation-right-icon .cart {
  margin-right: 5px;
}

.navigation-section .navigation-warapper .container .row .col-lg-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navigation-section .navigation-warapper .main-nav ul {
    display: none;
  }

  .navigation-section .navigation-warapper .logo svg {
    display: block;
  }

  .navigation-section .navigation-warapper .navigation-right-icon .search-svg,
  .navigation-section .navigation-warapper .navigation-right-icon .user-svg {
    display: none;
  }

  .navigation-section .navigation-warapper a img {
    margin-top: 5px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navigation-section .navigation-warapper .main-nav ul {
    display: none;
  }

  .navigation-section .navigation-warapper .logo svg {
    display: block;
  }

  .navigation-section .navigation-warapper .navigation-right-icon .search-svg,
  .navigation-section .navigation-warapper .navigation-right-icon .user-svg {
    display: none;
  }

  .navigation-section .navigation-warapper a img {
    margin-top: 4px;
  }
}

@media (max-width: 575px) {
  .navigation-section .navigation-warapper .main-nav ul {
    display: none;
  }

  .navigation-section .navigation-warapper .logo svg {
    display: block;
  }

  .navigation-section .navigation-warapper .navigation-right-icon .search-svg,
  .navigation-section .navigation-warapper .navigation-right-icon .user-svg {
    display: none;
  }

  .navigation-section .navigation-warapper a img {
    margin-top: 4px;
  }
}

/* navigation css end */

/* banner section start */
.banner-section {
  background-image: url("../images/banner-img/bannerBackground.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-section .banner-img-right a img {
  width: 100%;
  height: auto;
  transform: rotate(10deg);
}

.banner-section .container .row .displayFlex {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.banner-section .banner-text {
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -2px;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 0%,
      #fff 16.06%,
      #fff 86.9%,
      rgba(255, 255, 255, 0) 106.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
  max-width: 489px;
}

.banner-section .banner-sub-text {
  color: var(--neutral-01100, #fefefe);
  font-family: "Inter", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 424px;
  margin-bottom: 24px;
}

.banner-section .button {
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4000000059604645px;
  text-align: center;
  color: #141718;
  padding: 12px 56px;
  border-radius: 8px;
  background: #38cb89;
}

@media only screen and (max-width: 991px) {
  .banner-section .container .row .displayFlex {
    order: 2;
    align-items: center;
  }

  .banner-section {
    padding-bottom: 40px;
  }

  .banner-section .banner-text {
    text-align: center;
  }

  .banner-section .banner-sub-text {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .banner-section .banner-text {
    font-size: 58px;
    line-height: 68px;
    letter-spacing: -0.2px;
  }
}

@media only screen and (max-width: 575px) {
  .banner-section .banner-text {
    font-size: 58px;
    line-height: 58px;
    /* 110% */
    letter-spacing: -0.4px;
  }
}

@media only screen and (max-width: 375px) {
  .banner-section .banner-text {
    font-size: 40px;
    text-align: center;
    line-height: 44px;
    /* 110% */
    letter-spacing: -0.4px;
    max-width: 311px;
    margin: 0;
  }

  .banner-section .banner-sub-text {
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    max-width: 311px;
    margin: 0;
    font-size: 16px;
  }

  .banner-section .button {
    margin-top: 16px;
  }

  .banner-section .container .row .displayFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

@media only screen and (max-width: 280px) {
  .banner-section .banner-text {
    font-size: 37px;
  }

  .banner-section .button {
    font-size: 16px;
    padding: 6px 25px;
  }
}

/* banner section end */

/* mobile menu css start */
.overlay {
  background: rgba(0, 0, 0, 0.308);
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}

.overlay.active {
  display: block;
}

.mobile_menu_area {
  width: 100%;
  height: 100%;
  padding: 24px;
  position: fixed;
  left: -100%;
  top: 0;
  background: #fff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all linear 0.4s;
}

.mobile_menu_area.active {
  left: 0;
}

.mobile_menu_area .top .log_top_area {
  display: flex;
  justify-content: space-between;
}

.mobile_menu_area .top .log_top_area svg {
  cursor: pointer;
}

.mobile_menu_area .top .mobile-input-area {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #6c7275;
  padding: 12px 16px;
  border-radius: 6px;
  margin: 16px 0;
}

.mobile_menu_area .top .mobile-input-area input {
  width: 100%;
  height: 24px;
  border: none;
}

.mobile_menu_area .top .mobile_nav ul li {
  margin-bottom: 32px;
}

.mobile_menu_area .top .mobile_nav ul li a {
  color: #141718;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}

.mobile_menu_area .bottom .mobile-cart-list {
  display: flex;
  justify-content: space-between;
}

.mobile_menu_area .bottom .mobile-cart-list .icon {
  display: flex;
  margin-bottom: 16px;
}

.mobile_menu_area .bottom .button {
  margin-top: 16px;
  margin-bottom: 19px;
  width: 100%;
  padding: 10px 0;
  background: #141718;
  color: #fff;
  border-radius: 6px;
  font-family: "Inter", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
}

.mobile_menu_area .bottom .mobile-social-media {
  display: flex;
  gap: 24px;
}

.mobile_menu_area .bottom .mobile-cart-list .common-text {
  color: #6c7275;
  font-family: "Inter", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
}

.mobile_menu_area .bottom .mobile-cart-list .icon .common-text {
  font-size: 12px;
  width: 20px;
  height: 20px;
  background: #141718;
  border-radius: 50%;
  line-height: 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.mobile_menu_area .bottom .mobile-cart-list .icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mobile_menu_area .top .mobile-input-area input::placeholder {
  color: #6c7275;
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width:991px) {
  .mobile_menu_area {
    width: 50%;
  }
}

@media only screen and (max-width:768px) {
  .mobile_menu_area {
    width: 80%;
  }
}

/* mobile menu css end */

/* feature collection section start */

/* custom swiper pagination */
.feature-collection-section .header-feature #main_bullets {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}

.custom-bullet {
  height: 8px;
  width: 8px;
  background-color: #6C7275;
  display: block;
  border-radius: 50%;
  cursor: pointer;
}

.custom-bullet.custom-bullet-active {
  height: 8px;
  width: 8px;
  background-color: #141718;
  border-radius: 50%;
  position: relative;
}

.custom-bullet.custom-bullet-active::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  z-index: -1;
  border: 1px solid #141718;
  transform: translate(-50%, -50%);
}

/* ======custom swiper pagination */

.feature-collection-section .header-feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.feature-collection-section {
  padding: 48px 0;
}

.feature-collection-section .feature-header .collection_card .card {
  position: relative;
  padding: 16px;
  background: #f3f5f7;
}

.feature-collection-section .feature-header .collection_card .card .hot-label {
  position: absolute;
  top: 16px;
  left: 16px;
  color: #121212;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  padding: 4px 14px;
  border-radius: 4px;
}

.feature-collection-section .feature-header .collection_card .card .dis-label {
  position: absolute;
  top: 52px;
  left: 16px;
  color: #fefefe;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  background: #38cb89;
  border-radius: 4px;
  padding: 4px 14px;
  z-index: 1;
}

.feature-collection-section .feature-header .collection_card .card .dis-label:empty {
  display: none;
}

.feature-collection-section .feature-header .collection_card .card a {
  transform: translateY(19px);
}

.feature-collection-section .feature-header .collection_card .card .product-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.feature-collection-section .feature-header .collection_card .card .add-cart {
  width: 100%;
  color: #fefefe;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.4px;
  padding: 8px 0;
  border-radius: 8px;
  line-height: 28px;
  /* 175% */
  background: #141718;
  opacity: 0;
  transition: all linear 0.3s;
  z-index: 1;
  position: sticky;
}

.feature-collection-section .feature-header .collection_card .card:hover .add-cart {
  opacity: 1;
}

.feature-collection-section .feature-header .collection_card .rating {
  margin-top: 12px;
  margin-bottom: 4px;
}

.feature-collection-section .feature-header .collection_card .rating .star {
  margin-right: 2px;
}

.feature-collection-section .feature-header .collection_card .product-title {
  color: #141718;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.feature-collection-section .feature-header .collection_card .price-box .price {
  color: #121212;
  font-family: "Inter", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.feature-collection-section .feature-header .collection_card .price-box .dis-price {
  color: #6c7275;
  font-family: "Inter", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: line-through;
  line-height: 22px;
}

.feature-collection-section .feature-header .collection_card .price-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 4px;
}

@media only screen and (max-width: 768px) {
  .feature-collection-section {
    padding: 32px 0;
  }
}

/* feature collection section end */

/* category section start */
.category-section {
  padding: 80px 0;
}

.category-section .common_main_head {
  text-align: center;
  margin-bottom: 48px;
}

.category-section .category-container .category-row {
  row-gap: 48px;
}

.category-section .category-card img {
  aspect-ratio: 357/309;
  object-fit: contain;
  background: #f3f5f7;
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .category-section {
    padding: 40px 0;
  }

  .category-section .common_main_head {
    margin-bottom: 24px;
  }

  .feature-collection-section .header-feature {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .category-section .category-container .category-row {
    row-gap: 24px !important;
  }
}

/* category section end */

/* Discount section start */

.discount-section {
  overflow: hidden;
}

.discount-section .left-area .dis-img-fluid {
  width: 100vw;
  height: 35rem;
  object-fit: cover;
}

.discount-section .right-bg .right-area .limit-time {
  color: #38cb89;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.discount-section .right-bg .right-area .dis-head {
  color: #fefefe;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  padding: 16px 0;
}

.discount-section .right-bg {
  background: #141718;
}

.discount-section .right-bg .right-area .dis-paragraph {
  color: #fefefe;
  font-family: "Inter", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.discount-section .right-bg .expire-time,
.discount-section .right-bg .right-area {
  color: #fefefe;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}

.discount-section .right-bg .right-area {
  margin-top: 0;
}

.discount-section .right-bg .right-area .time-area .btn-time {
  background: #fff;
  padding: 10px 11px;
}

.discount-section .right-bg .right-area .time-area .btn-time .main-time {
  color: #141718;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6px;
}

.discount-section .px-0 {
  padding: 0;
}

.discount-section .right-bg .right-area .time-area {
  display: flex;
  gap: 16px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.discount-section .right-bg .right-area .common-shop-now-btn {
  margin-top: 44px;
}

.discount-section .right-bg {
  padding: 101px 0;
  width: 50%;
  padding-left: 72px;
}

.discount-section .discount-area-wrapper {
  display: flex;
  width: 100%;
}

.discount-section .left-area {
  width: 50%;
  height: 35rem;
}

@media only screen and (max-width: 991px) {
  .discount-section .discount-area-wrapper {
    flex-direction: column;
  }

  .discount-section .left-area,
  .discount-section .right-bg {
    width: 100%;
    background: #141718;
  }

  .discount-section .left-area {
    order: 1;
  }
}

@media only screen and (max-width: 768px) {
  .discount-section .right-bg {
    padding: 70px 0;
    padding-left: 60px;
  }
}

@media only screen and (max-width: 575px) {
  .discount-section .right-bg .right-area .dis-head {
    font-size: 34px;
  }

  .discount-section .right-bg .right-area .dis-paragraph {
    font-size: 14px;
  }

  .discount-section .right-bg {
    padding: 28px 32px;
  }
}

/* Discount section end */

/* shop collection start */
.shop-collection-section {
  padding: 48px 0;
}

.shop-collection-section .common_main_head {
  margin-bottom: 48px;
}

.shop-collection-section .img-card-area {
  background: #f3f5f7;
}

.shop-collection-section .left-col .img-card-area {
  padding: 48px;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

.shop-collection-section .left-col .img-card-area img {
  aspect-ratio: 480 / 439;
  object-fit: contain;
}

.shop-collection-section .down-col-shop {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.shop-collection-section .down-col-shop .img-card-area {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.shop-collection-section .down-col-shop .img-card-area:nth-last-child(1) {
  margin-bottom: 0;
}

.shop-collection-section .down-col-shop .img-card-area .text .card-text,
.shop-collection-section .img-card-area .card-text {
  color: #121212;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6px;
}

.shop-collection-section .down-col-shop .img-card-area .text {
  margin-bottom: 40px;
  padding-left: 32px;
  width: 50%;
}

.shop-collection-section .down-col-shop .img-card-area .img {
  width: 50%;
}

.shop-collection-section .down-col-shop .img-card-area .text .btns {
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid #121212;
  margin-top: 12px;
}

@media only screen and (max-width: 991px) {
  .shop-collection-section .shop-main-row {
    row-gap: 24px;
  }

  .shop-collection-section .common_main_head {
    text-align: center;
  }
}

@media only screen and (max-width: 575px) {
  .shop-collection-section .shop-main-row {
    row-gap: 16px;
  }

  .shop-collection-section .common_main_head {
    margin-bottom: 16px;
  }

  .shop-collection-section .img-card-area .card-text {
    font-size: 28px;
  }

  .shop-collection-section .down-col-shop .img-card-area .text .card-text {
    font-size: 28px;
  }
}

/* shop collection end */

/* articale section start */
.article_section {
  padding: 80px 0;
}

.article_section .article-card .categroy-text {
  text-align: start;
  margin-top: 24px;
}

.article_section .article-card {
  margin-top: 40px;
}

.article_section .artical-top-row .btn-area-article {
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 500px) {
  .article_section .artical-top-row .btn-area-article {
    align-items: flex-end;
  }
}

/* articale section end */

/* news latter section start */
.newslater-section {
  background-image: url("../images/newslater-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newslater-section .newsLatter-area .newslatter-contatent .common_main_head {
  color: #fefefe;
  max-width: 456px;
  text-align: center;
  margin: 0 auto;
}

.newslater-section .newsLatter-area .newslatter-contatent {
  max-width: 540px;
  margin: 0 auto;
}

.newslater-section .newsLatter-area .newslatter-contatent .categroy-text {
  color: #fefefe;
  max-width: 540px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter", serif;
}

.newslater-section .newsLatter-area .newslatter-contatent .input-wrapper .input-area .input-fild,
.newslater-section .newsLatter-area .newslatter-contatent .input-wrapper .btn-signup {
  color: #fefefe;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  background: transparent;
  border: none;
  width: 396px;
  max-width: 100%;
}

.newslater-section .newsLatter-area .newslatter-contatent .input-wrapper .input-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.newslater-section .newsLatter-area .newslatter-contatent .input-wrapper {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding-top: 32px;
  border-bottom: 1px solid #fefefe;
  padding-bottom: 12px;
  max-width: 488px;
  margin: 0 auto;
}

@media only screen and (max-width: 575px) {
  .newslater-section .newsLatter-area .newslatter-contatent .input-wrapper .input-area .input-fild {
    width: 100%;
  }

  .newslater-section .newsLatter-area .newslatter-contatent .input-wrapper .input-area {
    width: 80%;
  }

  .newslater-section .newsLatter-area .newslatter-contatent .input-wrapper .btn-signup {
    width: 20%;
  }

  .newslater-section .newsLatter-area .newslatter-contatent .common_main_head {
    font-size: 28px;
  }

  .newslater-section .newsLatter-area .newslatter-contatent .categroy-text {
    font-size: 14px;
  }

  .newslater-section {
    height: 60vh;
  }
}

/* news latter section end */

/* instagram_gallery_section start */
.instagram_gallery_section {
  padding-top: 40px;
}

.instagram_gallery_section .instaHead-area {
  margin-bottom: 40px;
}

.instagram_gallery_section .instaHead-area .common_main_head {
  text-align: center;
}

.instagram_gallery_section .instaHead-area .categroy-text {
  font-weight: 400;
  font-family: "Inter", serif;
  margin-top: 16px;
}

.instagram_gallery_section .instaHead-area .logo-official {
  color: #6c7275;
  font-weight: 500;
  font-size: 28px;
}

.instagram_gallery_section .gallery-card-img {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(6, calc(100% / 6));
}

.instagram_gallery_section .gallery-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

@media only screen and (max-width: 768px) {
  .instagram_gallery_section .gallery-card-img {
    grid-template-columns: repeat(2, calc(100% / 2));
  }
}

@media only screen and (max-width: 575px) {
  .instagram_gallery_section .instaHead-area .categroy-text {
    font-size: 14px;
  }

  .instagram_gallery_section .instaHead-area .logo-official {
    font-size: 20px;
  }
}

/* instagram_gallery_section end */


/* footer css start */
.footer {
  padding-top: 80px;
  padding-bottom: 32px;
  background: #141718;
}

.footer .footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 60px;
}

.footer .footer-content .brand img {
  margin-bottom: 32px;
}

.footer .footer-content .brand .categroy-text {
  color: #FEFEFE;
  max-width: 260px;
  text-align: start;
  margin-bottom: 32px;
}

.footer .footer-content .brand .social-icons {
  display: flex;
  gap: 24px;
}

.footer .footer-content .footer-links .common-shop-now-btn {
  color: #FEFEFE;
  background: transparent;
  padding: 0;
  text-align: start;
}

.footer .footer-content .footer-links ul {
  margin-top: 40px;
}

.footer .footer-content .footer-links ul li {
  margin-bottom: 24px
}

.footer .footer-content .footer-links ul li a,
.footer .footer-content .footer-links ul li {
  color: #FFF;
  font-family: "Inter", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}

.footer .footer-content .footer-links .address li {
  margin-bottom: 8px;
}

.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  border-top: 1px solid #6C7275;
}

.footer .footer-bottom .footer-bottom-left .coppy_text,
.footer .footer-bottom .footer-bottom-left a {
  color: #E8ECEF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-right: 1px solid #6C7275;
  padding-right: 16px;
}

.footer .footer-bottom .footer-bottom-left a {
  color: #6C7275;
  border: none;
  padding: 0;
}

.footer .footer-bottom .footer-bottom-left {
  display: flex;
  gap: 16px;
}

.footer .footer-bottom .payment-methods {
  display: flex;
  gap: 8px;
  align-items: center;
}


@media (max-width: 768px) {
  .footer .footer-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer .footer-bottom {
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  .footer .footer-bottom .footer-bottom-left {
    flex-direction: column;
    gap: 16px;
    order: 2;
  }

  .footer .footer-bottom .payment-methods {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .footer .footer-bottom .payment-methods {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer .footer-bottom .payment-methods img {
    width: 24px;
    height: auto;
    margin: 0 auto;
  }
}

/* footer css end */




/* ===================================
              Login page
===================================*/

/* Login section css start */

.login_section .right-side-img {
  background: #F3F5F7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_section .custom-col-1 {
  position: relative;
}

.login_section .right-side-img .logo {
  position: absolute;
  left: 50%;
  top: 32px;
  color: #000;
  transform: translate(-50%, -50%);
}

.login_section .right-side-img img {
  width: 400px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.login_section .signupWrapper .form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 456px;
}

.login_section .signupWrapper .pf-sign-up-text {
  color: #141718;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  margin-bottom: 24px;
}

.login_section .signupWrapper .common-shop-now-btn {
  padding: 0;
  background: 0;
  text-align: start;
  margin-bottom: 32px;
}

.login_section .signupWrapper .common-shop-now-btn a {
  color: #38CB89;
}

.login_section .signupWrapper .form .terms_condition_cheaker {
  display: flex;
  gap: 12px;
  align-items: center;
}

.login_section .signupWrapper .form .terms_condition_cheaker .common-shop-now-btn {
  padding: 0;
  text-align: start;
  background: transparent;
  color: #6C7275;
  margin: 0;
}

.login_section .signupWrapper .form .terms_condition_cheaker .common-shop-now-btn a {
  color: #141718;
}

.login_section .signupWrapper .form .terms_condition_cheaker input {
  cursor: pointer;
}

.login_section .signupWrapper .form input {
  border: none;
  border-bottom: 1px solid #E8ECEF;
  padding-bottom: 14px;
}

.login_section .signupWrapper .form input:valid {
  color: #6C7275;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.login_section .signupWrapper .form input::placeholder {
  color: #6C7275;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.login_section .signupWrapper .form .form-group {
  position: relative;
}

.login_section .signupWrapper .form .form-group input {
  width: 100%;
}

.login_section .signupWrapper .form .form-group svg {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: #fff;
}

.login_section .signupWrapper {
  padding-left: 88px;
}

.login_section .custom-col {
  display: flex;
  align-items: center;
  padding: 0;
}

.login_section .custom-col-1 {
  padding: 0;
}

.login_section .signupWrapper .sign-up-button {
  color: #FFF;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  border-radius: 8px;
  background: #141718;
  padding: 10px 0;
  transition: all linear 0.3s;
}

.login_section .signupWrapper .sign-up-button:hover {
  background: #212527;
}

@media only screen and (max-width:991px) {
  .login_section .right-side-img {
    height: 80vh;
    overflow-x: hidden;
  }

  .login_section .custom-row {
    gap: 40px;
  }

  .login_section .signupWrapper {
    width: 100%;
    padding: 0 88px;
  }

  .login_section .signupWrapper .form {
    max-width: 100%;
  }
}

@media only screen and (max-width:575px) {
  .login_section .signupWrapper {
    padding: 0 30px;
  }
}

/* Login section css end */




/* =====================Shop Page==================== */

/* banner section start */

.shop_banner .bg-banner {
  background: url('../images/Shop-Page/shop_banner.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop_banner .text_wrapper .shop-text {
  color: #000;
  font-size: 54px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -1px;
  padding: 24px 0;
  text-align: center;
}

.shop_banner .text_wrapper .btn {
  display: flex;
  justify-content: center;
}

.shop_banner .text_wrapper .btn .btn-home,
.shop_banner .text_wrapper .btn .shop-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--Black-600, #605F5F);
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 500;
}

.shop_banner .text_wrapper .btn .shop-btn {
  color: #121212;
  margin-left: 16px;
}

@media only screen and (max-width:768px) {
  .shop_banner .text_wrapper .shop-text {
    font-size: 44px;
  }

  .shop_banner .text_wrapper .categroy-text {
    font-size: 18px;
  }
}

@media only screen and (max-width:575px) {
  .shop_banner .text_wrapper .shop-text {
    font-size: 34px;
  }

  .shop_banner .text_wrapper .shop-text {
    padding: 12px 0;
    line-height: 120%;
  }

  .shop_banner .text_wrapper .categroy-text {
    font-size: 16px;
  }
}

/* shop collection  css start */
.shop-collection {
  padding: 60px 0;
}

.shop-collection .left-filter {
  width: 20%;
}

.shop-collection .right-product {
  width: 80%;
  padding-right: 0;
}

.shop-collection .left-filter .filter-head {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 32px;
  font-weight: 600;
}

.shop-collection .left-filter .newsfeed {
  color: #121212;
  font-weight: 600;
  text-align: start;
}

.shop-collection .left-filter ul {
  margin-top: 16px;
}

.shop-collection .left-filter ul li {
  margin-bottom: 12px;
  cursor: pointer;
  color: var(--Black-500, #807E7E);
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 600;
  transition: all linear 0.3s;
  border-bottom: 1px solid var(--Black-900, #fff);
  width: fit-content;
}

.shop-collection .left-filter ul li:hover {
  border-bottom: 1px solid var(--Black-900, #121212);
  color: #121212;
  width: fit-content;
}

.shop-collection .left-filter ul li:nth-last-child(1) {
  margin-bottom: 0;
}

.shop-collection .left-filter .filter-wrapper {
  margin-bottom: 32px;
}

.shop-collection .left-filter .filter-wrapper:nth-last-child(1) {
  margin-bottom: 0;
}

.shop-collection .left-filter .filter-wrapper2 ul li {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.shop-collection .left-filter .filter-wrapper2 ul li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

/* shop collection  css end */

/* shop all products */
.shop-collection .product-card {
  background-color: #ffffff;
}

.shop-collection .product-card .img_box_wrapper {
  background: #F3F5F7;
  width: 100%;
  height: auto;
  aspect-ratio: 262/349;
  display: flex;
  align-items: center;
  position: relative;
}

.shop-collection .product-card .img_box_wrapper .badge {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #ffff;
  color: #121212;
  padding: 4px 14px;
  border-radius: 4px;
  font-weight: 700;
}

.shop-collection .product-card .img_box_wrapper .discount-badge {
  position: absolute;
  top: 64px;
  left: 16px;
  background-color: #38CB89;
  color: #FEFEFE;
  padding: 4px 14px;
  border-radius: 4px;
  font-weight: 700;
}

.shop-collection .product-card .rating {
  margin: 12px 0 4px 0;
  color: #343839;
  font-size: 18px;
}

.shop-collection .product-card .product-title {
  color: var(--neutral-07100, #141718);
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 4px;
}

.shop-collection .product-card .price {
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.shop-collection .product-card .price .current-price {
  color: #121212;
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.shop-collection .product-card .price .original-price {
  color: var(--neutral-04100, #6C7275);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: line-through;
}

.shop-collection .right-product .card-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.shop-collection .right-product .Custom-col {
  width: calc((100% / 3) - 16px);
}

.shop-collection .right-product .right-top-heading .text-wrapper .categroy-text {
  font-weight: 600;
  font-family: "Inter", serif;
  text-align: start;
}

.shop-collection .product-card .img_box_wrapper .discount-badge:empty {
  display: none;
}

.shop-collection .right-product .right-top-heading .text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-collection .right-product .right-top-heading {
  margin-bottom: 40px;
}

.shop-collection .right-product .right-top-heading .text-wrapper .selet-filter {
  color: #121212;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  border: none;
  cursor: pointer;
  text-align: end;
}

.shop-collection .right-product .right-top-heading .text-wrapper .selet-filter:focus {
  border: none;
}

.shop-collection .right-product .right-top-heading .text-wrapper .icon-grid {
  border: 1px solid #E8ECEF;
  cursor: pointer;
}

.shop-collection .right-product .right-top-heading .text-wrapper .icon-grid {
  display: flex;
  align-items: center;
}

.shop-collection .right-product .right-top-heading .text-wrapper .icon-grid svg {
  border-right: 1px solid #E8ECEF;
}

.shop-collection .right-product .right-top-heading .text-wrapper .right-grid {
  display: flex;
  gap: 32px;
}



@media only screen and (max-width:1020px) {
  .shop-collection .right-product .card-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .shop-collection .right-product .Custom-col {
    width: 100%;
  }

  .shop-collection .left-filter .filter-wrapper .category_wrapper_box {
    display: none;
  }

  .shop-collection .left-filter .filter-wrapper.filter-wrapper2 {
    display: none;
  }

  .shop-collection .right-product .right-top-heading .text-wrapper .icon-grid {
    display: none;
  }
  .category-active{
    display: block !important;
    border: 1px solid #6C7275;
    padding: 10px;
  }
  .shop-collection .right-product .right-top-heading .text-wrapper{
    margin-top: 20px;
  }
  .shop-collection .right-product{
    padding: 0 20px;
  }
  .shop-collection .left-filter{
    padding: 0 20px;
  }
  .shop-collection .custom-row {
    flex-direction: column;
  }
  .shop-collection .right-product{
    width: 100%;
  }
}

@media only screen and (max-width:768px) {
  .shop-collection .right-product {
    width: 100%;
  }

  .shop-collection .left-filter {
    width: 100%;
  }
}
@media only screen and (max-width:430px) {
  .shop-collection .right-product .card-row{
    grid-template-columns: 1fr;
  }
  .shop-collection .right-product .right-top-heading .text-wrapper .categroy-text{
    font-size: 16px;
  }
  .shop-collection .product-card .img_box_wrapper .badge{
    font-size: 14px;
  }
}